{% extends 'base.html' %} {% load static %} {% block content %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Productos</h1>
        <div class="grid-x grid-margin-x">
            <div class="cell large-">
                <input type="text" placeholder="Buscar producto">
            </div>
            <div class="cell large-2">
                <button type="button" class="success button">Buscar</button>

            </div>
        </div>
        <div class="cell">
            aqui botones
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="200">NOMBRE</th>
                            <th width="150">TIPO</th>
                            <th width="350">DESCRIPCION</th>
                            <th width="150">PRECIO</th>
                            <th width="150">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in object_list%}
                        <tr>
                            <td>{{ e.name}}</td>
                            <td>{{ e.tipo_prod}}</td>
                            <td>{{ e.description}}</td>
                            <td>{{ e.price}}</td>
                            <td><a class="button success" href="#">Editar</a></td>
                            <td><a class="button alert" href="#">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>


{% endblock %}