{% extends 'base.html' %} {% load static %} {% block content %}
<div class="grid-container">
    <div class="grid-x">
        <h1>Modificar Producto</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="medium-6 cell">
                <label>Nombre:
                    {{form.name}}
                    </label>
            </div>

            <div class="medium-12 cell">
                <label>Tipo:
                    {{form.tipo_prod}}
                    </label>
            </div>

            <div class="medium-12 cell">
                <label>Descripcion:
                    {{form.description}}
                    </label>
            </div>

            <div class="medium-6 cell">
                <label>Precio:
                    {{form.price}}
                    </label>
            </div>

            <div class="medium-12 cell">
                <label>Foto:
                    {{form.imagen}}
                    </label>
            </div>

            <div class="medium-12 cell">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}